#Hero {
  min-height: 95vh;
  justify-content: center;
  background-image: url("../../assets/Chloe_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* .Hero-Gradient {
  min-height: 95vh;
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );
} */
